* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
  }
.dashboard {
    background-color: #f7faff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .dashboard .div-2 {
    background-color: #f7faff;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .dashboard .navigation-instance {
    left: 43px !important;
    position: absolute !important;
    top: 40px !important;
  }
  
  .dashboard .overlap {
    height: 520px;
    left: 390px;
    position: absolute;
    top: 140px;
    width: 1006px;
  }
  
  .dashboard .frame {
    align-items: flex-start;
    display: flex;
    gap: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1000px;
  }
  
  .dashboard .frame-2 {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #dfdfdf;
    border-radius: 20px;
    box-shadow: 3px 4px 11px #62626226;
    height: 120px;
    position: relative;
    width: 237.32px;
  }
  
  .dashboard .overlap-group {
    background-color: #7fcc93;
    border-radius: 15.91px;
    height: 32px;
    left: 27px;
    position: relative;
    top: 18px;
    width: 32px;
  }
  
  .dashboard .vector {
    height: 17px;
    left: 7px;
    position: absolute;
    top: 6px;
    width: 19px;
  }
  
  .dashboard .vector-wrapper {
    background-color: #ddbe85;
    border-radius: 15.91px;
    height: 32px;
    left: 27px;
    position: absolute;
    top: 18px;
    width: 32px;
  }
  
  .dashboard .img {
    height: 17px;
    left: 8px;
    position: absolute;
    top: 7px;
    width: 15px;
  }
  
  .dashboard .frame-3 {
    align-items: flex-end;
    display: inline-flex;
    gap: 18px;
    left: 25px;
    position: absolute;
    top: 56px;
  }
  
  .dashboard .frame-4 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 2px;
    position: relative;
  }
  
  
  .dashboard .img-wrapper {
    background-color: #eba3a3;
    border-radius: 15.91px;
    height: 32px;
    left: 24px;
    position: absolute;
    top: 17px;
    width: 32px;
  }
  
  .dashboard .vector-2 {
    height: 17px;
    left: 8px;
    position: absolute;
    top: 7px;
    width: 17px;
  }
  
  .dashboard .frame-5 {
    align-items: flex-end;
    display: inline-flex;
    gap: 19px;
    left: 22px;
    position: absolute;
    top: 56px;
  }
  .dashboard .text-wrapper-9 {
    color: #000000;
    font-family: "Open Sans", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 124px;
  }
  .dashboard .text-wrapper-10 {
    color: #000000;
    font-family: "Open Sans", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 124px;
  }
  
  
  .dashboard .frame-6 {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #dfdfdf;
    border-radius: 20px;
    box-shadow: 3px 4px 11px #62626226;
    height: 120px;
    margin-right: -0.28px;
    position: relative;
    width: 237.32px;
  }
  
  .dashboard .overlap-2 {
    background-color: #a8b0e5;
    border-radius: 15.91px;
    height: 32px;
    left: 24px;
    position: absolute;
    top: 18px;
    width: 32px;
  }
  
  .dashboard .vector-3 {
    height: 13px;
    left: 6px;
    position: absolute;
    top: 9px;
    width: 20px;
  }
  
  .dashboard .frame-7 {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    left: 27px;
    position: absolute;
    top: 58px;
    width: 189px;
  }
  
  .dashboard .activities-card {
    height: 418px;
    left: 0;
    position: absolute;
    top: 102px;
    width: 1006px;
  }
  
  .dashboard .overlap-3 {
    height: 418px;
    position: relative;
    width: 1000px;
  }
  
  .dashboard .card {
    position: absolute;
border-radius: 20px;
background-color: #fff;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
border: 2px solid #e0e0e0;
box-sizing: border-box;
top: 70px;
width: 100%;
height: 340px;
  }
  
  
  .dashboard .text-wrapper-11 {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 808px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 108px;
    width: 42px;
  }
  
  .dashboard .text-wrapper-12 {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 906px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 108px;
    width: 34px;
  }
  
  .dashboard .text-wrapper-13 {
    color: #000000;
    font-family: "Montserrat", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 89px;
    width: 93px;
  }
  
  .dashboard .group {
    height: 133px;
    left: 40px;
    position: absolute;
    top: 0;
    width: 126px;
  }
  
  .dashboard .text-wrapper-14 {
    color: var(--secondary-text);
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 116px;
    width: 111px;
  }
  
  .dashboard .vector-4 {
    height: 3px;
    left: 116px;
    position: absolute;
    top: 0;
    width: 8px;
  }
  
  .dashboard .chart {
    align-content: space-between;
    position: absolute;
    top: 55px;
    left: 70px;
width: 90%;
height: 300px;

  }

  
  .dashboard .text-wrapper-16 {
    color: var(--secondary-text);
    font-family: "Lato", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 9px;
  }
  
  .dashboard .line-2 {
    height: 1px;
    left: 23px;
    object-fit: cover;
    position: absolute;
    top: 9px;
    width: 881px;
  }
  
  .dashboard .ellipse {
    background-color: var(--light-red);
    border-radius: 5px;
    height: 10px;
    left: 788px;
    position: absolute;
    top: 113px;
    width: 10px;
  }
  
  .dashboard .ellipse-2 {
    background-color: var(--light-green);
    border-radius: 5px;
    height: 10px;
    left: 885px;
    position: absolute;
    top: 113px;
    width: 10px;
  }
  
  .dashboard .schedules-card {
    height: 5px;
    left: 965px;
    position: absolute;
    top: 345px;
    width: 5px;
  }
  
  .dashboard .chart-weeks {
    height: 19px;
    left: 179px;
    position: absolute;
    top: 474px;
    width: 656px;
  }
  
  .dashboard .text-wrapper-17 {
    color: var(--secondary-text);
    font-family: "Lato", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .dashboard .text-wrapper-18 {
    color: var(--secondary-text);
    font-family: "Open Sans", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 200px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .dashboard .text-wrapper-19 {
    color: var(--secondary-text);
    font-family: "Open Sans", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 400px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .dashboard .text-wrapper-20 {
    color: var(--secondary-text);
    font-family: "Open Sans", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 600px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  .dashboard .overlap-4 {
    height: 256px;
    left: 390px;
    position: absolute;
    top: 699px;
    width: 482px;
  }
  
  .dashboard .top-products-card {
    height: 256px;
    left: 0;
    position: absolute;
    top: 0;
    width: 482px;
  }
  
  .dashboard .overlap-5 {
    height: 256px;
    position: relative;
    width: 480px;
  }
  .dashboard .card-wrapper {
    height: 256px;
    left: 0;
    position: absolute;
    top: 0;
    width: 480px;
  } 
  
  .dashboard .div-3 {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #dfdfdf;
    border-radius: 20px;
    box-shadow: 4px 4px 20px #0000001a;
    height: 260px;
    left: -2px;
    position: relative;
    top: -2px;
    width: 484px;
  }
  
  .dashboard .element {
    height: 36px;
    left: 244px;
    position: absolute;
    top: 72px;
    width: 102px;
  }
  
  .dashboard .ellipse-3 {
    background-color: #97d79e;
    border-radius: 5.5px;
    height: 11px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 11px;
  }
  
  .dashboard .text-wrapper-21 {
    color: #000000;
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .dashboard .text-wrapper-22 {
    color: var(--secondary-text);
    font-family: "Lato", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    white-space: nowrap;
  }
  
  .dashboard .div-wrapper {
    height: 15px;
    left: 327px;
    position: absolute;
    top: 31px;
    width: 99px;
  }
  
  .dashboard .text-wrapper-23 {
    color: var(--secondary-text);
    font-family: "Montserrat", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 97px;
  }
  
  .dashboard .element-2 {
    height: 36px;
    left: 244px;
    position: absolute;
    top: 129px;
    width: 172px;
  }
  
  .dashboard .ellipse-4 {
    background-color: #f6dc7d;
    border-radius: 5.5px;
    height: 11px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 11px;
  }
  
  .dashboard .element-3 {
    height: 36px;
    left: 244px;
    position: absolute;
    top: 186px;
    width: 132px;
  }
  
  .dashboard .ellipse-5 {
    background-color: #ee8383;
    border-radius: 5.5px;
    height: 11px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 11px;
  }
  
  .dashboard .text-wrapper-24 {
    color: #000000;
    font-family: "Montserrat", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
  }
  
  .dashboard .overlap-wrapper {
    height: 142px;
    left: 40px;
    position: absolute;
    top: 76px;
    width: 350px;
  }
  
  .dashboard .overlap-6 {
    height: 142px;
    position: relative;
  }

  .dashboard .header {
    background-color: transparent;
    height: 33px;
    left: 390px;
    position: absolute;
    top: 71px;
    width: 1002px;
  }
  
  .dashboard .text-wrapper-25 {
    color: #000000;
    font-family: "Montserrat", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .dashboard .search-bar {
    height: 33px;
    left: 713px;
    position: absolute;
    top: 0;
    width: 200px;
  }

  .dashboard .overlap-7 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 33px;
    position: relative;
    width: 198px;
    
  }
  
  .dashboard .text-wrapper-26 {
    color: var(--light-grey);
    font-family: "Lato", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
  }
  
  .dashboard .search-icon {
    height: 12px;
    left: 153px;
    position: absolute;
    top: 9px;
    width: 12px;
  }
  
  .dashboard .overlap-group-3 {
    height: 12px;
    position: relative;
    width: 13px;
  }
  

  
  .dashboard .line-3 {
    height: 5px;
    left: 8px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 5px;
  }
  
  .dashboard .mask-group-instance {
    left: 970px !important;
    border-radius: 50%;
  }
  
  .dashboard .vector-5{
    height: 21px;
    left: 924px;
    position: absolute;
    top: 7px;
    width: 18px;
  }
  
  .dashboard .overlap-group-wrapper {
    height: 256px;
    left: 910px;
    position: absolute;
    top: 699px;
    width: 480px;
  }
  
  .dashboard .frame-8 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 117px;
    justify-content: center;
    left: 199px;
    position: relative;
    top: 70px;
    width: 82px;
  }
  
  .dashboard .controls-wrapper {
    background-color: #f5f5f5;
    border: 1px solid;
    border-color: #f2f2f2;
    border-radius: 38.39px;
    height: 76.78px;
    position: relative;
    width: 76.78px;
  }
  
  .dashboard .controls {
    height: 51px;
    left: 12px;
    position: absolute;
    top: 12px;
    width: 51px;
  }
  
  .dashboard .text-wrapper-27 {
    color: #848484;
    font-family: var(--paragraph-text-md-s-font-family);
    font-size: var(--paragraph-text-md-s-font-size);
    font-style: var(--paragraph-text-md-s-font-style);
    font-weight: var(--paragraph-text-md-s-font-weight);
    letter-spacing: var(--paragraph-text-md-s-letter-spacing);
    line-height: var(--paragraph-text-md-s-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #ffffff;
   color: white;
  /* padding: 14px 20px; */
  /* margin: 8px 0; */ 
  border: none;
  cursor: pointer;
  width: 100%;
} */

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}


  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  .popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    }
    
    .popup-inner {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 40%;
    }
    
    .popup-inner h2 {
    margin-top: 10px;
    padding-bottom: 30px;
    }
    
    .popup-inner label {
    display: block;
    margin-bottom: 10px;
    }
    
    .popup-inner input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    }
    
    .popup-inner button[type="submit"],
    .popup-inner button[type="button"] {
    background-color: #3F84F8;
    width:15%;
    color: white;
    padding-left: 20px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    }
    
    .popup-inner button[type="submit"]:hover,
    .popup-inner button[type="button"]:hover {
    background-color: #45a049;
    }
    
    .popup-inner button[type="submit"] {
    margin-top: 20px;
    }
    
    .popup-inner button[type="button"] {
    margin-top: 20px;
    background-color: #f44336;
    }
    
    .popup-inner button[type="button"]:hover {
    background-color: #da190b;
    }
    
    .popup-inner button[type="submit"]:disabled {
    background-color: #bfbfbf;
    color: #ffffff;
    cursor: not-allowed;
    }
    
    .popup-inner button[type="button"]:disabled {
    background-color: #bfbfbf;
    color: #ffffff;
    cursor: not-allowed;
    }